In [6]:
import pandas as pd
df = pd.read_csv('estates.csv')

In [9]:
df

      price   area  pricePerMeter  rooms  floor
0    484000  70.70        6845.83      4      0
1    637088  74.08        8600.00      4      1
2    649528  73.81        8800.00      4      2
3    637088  74.08        8600.00      4      1
4    399000  52.91        7541.11      3      4
..      ...    ...            ...    ...    ...
633  667062  67.38        9900.00      3      3
634  499656  45.84       10900.00      2      1
635  288000  37.00        7783.78      1      3
636  279000  37.80        7380.95      2      0
637  390684  46.51        8400.00      2      0

[638 rows x 5 columns]

In [10]:
x = df.drop(columns=['pricePerMeter','price'])
y = df['price']